# Get stock data as DataFrame

In [16]:
import sys
import os

project = "goldpin"

# Dynamically determine the base directory using the current working directory
script_dir = os.getcwd() + '/../../'
base_dir = os.path.abspath(os.path.join(script_dir, project))
src_path = os.path.join(base_dir, 'src')

print("Search path:",src_path)  # Check the resolved path
print("Base dir:",base_dir)  # Check the resolved path
sys.path.append(src_path)

from paths import *

Search path: c:\Users\wangq\workspace\LearnTorch\goldpin\src
Base dir: c:\Users\wangq\workspace\LearnTorch\goldpin

In [29]:
# get data
import pandas as pd
from sqlalchemy import create_engine, inspect

# Create an SQLite engine
engine = create_engine('sqlite:///../../data/ESNQ_DB.db')

table_names = inspect(engine).get_table_names()
print(table_names)
ticker = 'NQ5M'
df = pd.read_sql(ticker, engine)
df = df[-500:]
print(df.info())

['ES1M', 'ES30M', 'ES5M', 'NQ1M', 'NQ30M', 'NQ5M']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 21391 to 21890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     500 non-null    int64
 1   datetime  500 non-null    object
 2   symbol    500 non-null    object
 3   open      500 non-null    float64
 4   high      500 non-null    float64
 5   low       500 non-null    float64
 6   close     500 non-null    float64
 7   volume    500 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 31.4+ KB
None

In [30]:
df = pd.read_sql(ticker, engine)
df

,index,datetime,symbol,open,high,low,close,volume
0,0,2024-05-12 17:00:00,CME_MINI:NQ1!,18238.00,18244.50,18233.25,18241.75,711.0
1,1,2024-05-12 17:05:00,CME_MINI:NQ1!,18241.75,18241.75,18228.75,18230.75,505.0
2,2,2024-05-12 17:10:00,CME_MINI:NQ1!,18230.75,18234.75,18230.50,18234.00,221.0
3,3,2024-05-12 17:15:00,CME_MINI:NQ1!,18233.75,18239.00,18233.25,18239.00,192.0
4,4,2024-05-12 17:20:00,CME_MINI:NQ1!,18238.50,18241.00,18237.00,18241.00,155.0
...,...,...,...,...,...,...,...,...
21886,7011,2024-08-30 15:35:00,CME_MINI:NQ1!,19604.75,19605.00,19601.00,19602.00,221.0
21887,7012,2024-08-30 15:40:00,CME_MINI:NQ1!,19601.75,19603.25,19596.00,19599.75,451.0
21888,7013,2024-08-30 15:45:00,CME_MINI:NQ1!,19599.75,19600.25,19595.50,19596.00,370.0
21889,7014,2024-08-30 15:50:00,CME_MINI:NQ1!,19596.50,19600.75,19595.00,19596.00,414.0
21890,7015,2024-08-30 15:55:00,CME_MINI:NQ1!,19596.00,19597.75,19591.75,19594.50,516.0

In [31]:
!pip install pandas_ta

Requirement already satisfied: pandas_ta in c:\users\wangq\workspace\learntorch\env\lib\site-packages (0.3.14b0)
Requirement already satisfied: pandas in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas_ta) (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from pandas->pandas_ta) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\wangq\workspace\learntorch\env\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandas_ta) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
import pandas as pd
import pandas_ta as ta

# Create a new strategy with Stochastic RSI and MACD, with all time parameters multiplied by 5
strategy = ta.Strategy(
    name="ModifiedStrategy",
    ta=[
        {"kind": "stochrsi", "length": 70, "rsi_length": 70, "k": 35, "d": 35},  # Default 14 * 5
        {"kind": "macd", "fast": 12, "slow": 26, "signal": 9},  # Default (12, 26, 9)
        {"kind": "macd", "fast": 60, "slow": 130, "signal": 45}  # Default (12, 26, 9) * 5
    ]
)

In [34]:
# %timeit
# Apply the strategy to your dataframe
df.ta.strategy(strategy)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21891 entries, 0 to 21890
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  21891 non-null  int64
 1   datetime               21891 non-null  object
 2   symbol                 21891 non-null  object
 3   open                   21891 non-null  float64
 4   high                   21891 non-null  float64
 5   low                    21891 non-null  float64
 6   close                  21891 non-null  float64
 7   volume                 21891 non-null  float64
 8   STOCHRSIk_70_70_35_35  21718 non-null  float64
 9   STOCHRSId_70_70_35_35  21684 non-null  float64
 10  MACD_12_26_9           21866 non-null  float64
 11  MACDh_12_26_9          21858 non-null  float64
 12  MACDs_12_26_9          21858 non-null  float64
 13  MACD_60_130_45         21762 non-null  float64
 14  MACDh_60_130_45        21718 non-null  float64
 15  MACDs_60_130_45        21718 non-null  float64
dtypes: float64(13), int64(1), object(2)
memory usage: 2.7+ MB
None